*~
*.o
*.lo
*.la
*.a
*.emu10k1

Makefile.in
install-sh
missing
mkinstalldirs
aclocal.m4
configure
config.h
config.log
config.sub
config.cache
config.status
config.guess
stamp-h.in
libtool
ltmain.sh
.libs
.deps
stamp-h
confdefs.h
depcomp
config.h.in
autom4te.cache
stamp-h1
version

ac3dec/ac3dec
ac3dec/test/*_test
ac3dec/tools/extract_ac3
as10k1/as10k1
echomixer/echomixer
hdspconf/src/hdspconf
hdspmixer/src/hdspmixer
ld10k1/compile
ld10k1/ld10k1d
ld10k1/setup/init_audigy
ld10k1/setup/init_audigy_eq10
ld10k1/setup/init_live
ld10k1/src/dl10k1
ld10k1/src/ld10k1
ld10k1/src/lo10k1
qlo10k1/include
qlo10k1/ld10k1
qlo10k1/src/*.moc.cpp
qlo10k1/src/qlo10k1
qlo10k1/src/dlgs/*.cpp
qlo10k1/src/dlgs/*.h
*control/*control
sb16_csp/cspctl
seq/sbiload/sbiload
sscape_ctl/sscape_ctl
*loader/*loader
usx2yloader/tascam_fpga
usx2yloader/tascam_fw

