*~
*.o
*.lo
*.la
*.a
*.emu10k1

Makefile.in
install-sh
missing
mkinstalldirs
aclocal.m4
7configure
config.h
config.log
config.sub
config.cache
config.status
config.guess
stamp-h.in
libtool
ltmain.sh
.libs
.deps
stamp-h
confdefs.h
depcomp
config.h.in
autom4te.cache
stamp-h1
version
distdir
*/compile

ac3dec/Makefile
ac3dec/ac3dec
ac3dec/libac3/Makefile
ac3dec/test/*_test
ac3dec/test/Makefile
ac3dec/tools/extract_ac3
ac3dec/tools/Makefile
ac3dec/configure
as10k1/Makefile
as10k1/as10k1
as10k1/configure
echomixer/echomixer
echomixer/Makefile
echomixer/configure
echomixer/desktop/Makefile
envy24control/Makefile
envy24control/configure
envy24control/desktop/Makefile
hdspconf/Makefile
hdspconf/configure
hdspconf/src/hdspconf
hdspconf/src/Makefile
hdspconf/pixmaps/Makefile
hdspconf/desktop/Makefile
hdspmixer/Makefile
hdspmixer/configure
hdspmixer/src/hdspmixer
hdspmixer/pixmaps/Makefile
hdspmixer/desktop/Makefile
hdspmixer/src/Makefile
hdsploader/Makefile
hdsploader/configure
hwmixvolume/Makefile
hwmixvolume/configure
hwmixvolume/desktop/Makefile
ld10k1/Makefile
ld10k1/ld10k1d
ld10k1/configure
ld10k1/m4/
ld10k1/contrib/Makefile
ld10k1/contrib/emu10k1MIDIEffects/Makefile
ld10k1/doc/Makefile
ld10k1/dump/Makefile
ld10k1/include/Makefile
ld10k1/include/lo10k1
ld10k1/include/stamp-vh
ld10k1/setup/init_audigy
ld10k1/setup/init_audigy_eq10
ld10k1/setup/init_live
ld10k1/src/dl10k1
ld10k1/src/ld10k1
ld10k1/src/lo10k1
ld10k1/src/Makefile
ld10k1/ld10k1-0.1.8p1/
ld10k1/patch/Makefile
ld10k1/setup/Makefile
ld10k1/setup/effects/Makefile
mixartloader/Makefile
mixartloader/configure
pcxhrloader/Makefile
pcxhrloader/configure
qlo10k1/Makefile
qlo10k1/configure
qlo10k1/include
qlo10k1/ld10k1
qlo10k1/src/Makefile
qlo10k1/src/*.moc.cpp
qlo10k1/src/qlo10k1
qlo10k1/src/dlgs/*.cpp
qlo10k1/src/dlgs/*.h
qlo10k1/m4/
rmedigicontrol/Makefile
rmedigicontrol/configure
*control/*control
sb16_csp/cspctl
sb16_csp/Makefile
sb16_csp/configure
seq/sbiload/sbiload
seq/sbiload/Makefile
seq/sbiload/configure
sscape_ctl/sscape_ctl
sscape_ctl/Makefile
sscape_ctl/configure
us428control/Makefile
us428control/configure
usx2yloader/Makefile
usx2yloader/configure
*loader/*loader
vxloader/Makefile
vxloader/configure
usx2yloader/tascam_fpga
usx2yloader/tascam_fw
hdajackretask/configure
hdajackretask/Makefile
hdajackretask/README.generated.h
hdajackretask/hdajackretask
hdajackretask/desktop/Makefile
hdajacksensetest/Makefile
hdajacksensetest/configure
hdajacksensetest/hdajacksensetest
hda-verb/Makefile
hda-verb/configure
hda-verb/hda-verb
