[Desktop Entry]
Name=HDSPConf
Comment=Hammerfall DSP control application
Exec=hdspconf
Icon=hdspconf
Terminal=false
Type=Application
Categories=AudioVideo;
