[Desktop Entry]
Name=HDAJackRetask
Comment=Retask the audio jacks for the HDA sound driver
Comment[fr]=Réassignement des jacks audio pour le pilote audio HDA
Exec=hdajackretask
Icon=hdajackretask
Terminal=false
Type=Application
Categories=AudioVideo;
Version=0.9.4
